@import '../../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400');
$sprites-image: url('../../uichallenge/sprites/form-elements-sprite.png');

/* section titles */
.ui-challenge-form h4 {
  font-family: 'Work Sans', Helvetica;
  font-size: 1.3rem;
  color: $fontcolor;
}

.ui-challenge-form input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 13px 20px;
  margin: 12px 0;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  background-color: $green;
  color: $fontcolor;

  &::placeholder {
    color: $fontcolor;
  }
}

/* no validation field */
.ui-challenge-form input[class="input-wo-validate"] {
  border: 3px solid $darkgreen;
}

/* validation field w/ error message */
.ui-challenge-form input[class="input-w-validate"]:valid {
  border: 3px solid $darkgreen;
}
.ui-challenge-form input[class="input-w-validate"]:invalid {
  border: 3px solid $errormsgcolor;
}
.ui-challenge-form input[class="input-w-validate"]:valid ~ .error-message {
  visibility: hidden;
}
.ui-challenge-form input[class="input-w-validate"]:invalid ~ .error-message {
  visibility: visible;
}

.ui-challenge-form .error-message {
  color: $errormsgcolor;
  text-align: right;
}

/* checkbox */
.ui-challenge-form input[type="checkbox"] {
  display: none;
}

/* checkbox unchecked */
.ui-challenge-form input[type=checkbox] + label {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: -21px -32px;
  background-image: $sprites-image;
}

/* checkbox checked */
.ui-challenge-form input[type=checkbox]:checked + label {
  background-position: -52px -32px;
}

.ui-challenge-form .col-2-div {
  display: inline-block;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 12px;
}

/* radio */
.ui-challenge-form input[type=radio] {
  display: none;
}

/* radio unchecked */
.ui-challenge-form input[type=radio] + label {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: -80px -32px;
  background-image: $sprites-image;
}

/* radio checked */
.ui-challenge-form input[type=radio]:checked + label {
  background-position: -111px -32px;
}

/* buttons */
.ui-challenge-form input[type=button] {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  border-radius: 90px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 3px solid $darkgreen;
  color: $fontcolor;
}

.ui-challenge-form input[class="col-1-btn"],
.ui-challenge-form input[class="col-2-btn"]:hover {
  background-color: $green;
}

.ui-challenge-form input[class="col-1-btn"]:hover,
.ui-challenge-form input[class="col-2-btn"] {
  background-color: $darkgreen;
}
