@import 'vars';


body {
  font-family: Tahoma, Geneva, sans-serif;
  width: 500px;
  height: 100%;
}

div.custom-form {
  width: 90%;
  margin: auto;
}

div.radio-buttons, div.checkboxes {
  div {
    display: inline-block;
  }
}

