$header_background-color: #4a7769;
$dark_text: #05394A; 
$light_text_color: #f1ecde;
$footer_background_color: #9BBFCC;
$footer_color: #4a7769;
$input_border: 1px solid $dark_text;
$input_border_radius: .25em;
$button_background_color: #d5e8d3;
$button_hover_color:  #bbd6b6;
$note_background_color: #4a7769;
$modal_background_color: rgba(32,32,32, 0.3);