input[type=text] + label {
  display: none;
}

input[type=text]:invalid {
  border: 2px solid red;
}

input[type=text]:invalid + label {
  display: block;
  color: red;
}

input {
  width: 96%;
  margin-right: 2%;
  margin-bottom: 3%;
  height: 40px;
  font-size: 20px;
}
