
input[type=checkbox] {
  display:none;
}

input[type=checkbox] + .checkbox-label {
  display:inline-block;
  cursor: pointer;
  outline: 0;
  background-image: url('../form-elements-sprite.png');
  background-position: -160px -240px;
  width: 160px;
  height: 160px;
  zoom: .3;
  }

  input[type=checkbox]:checked + .checkbox-label {
    background-position: -380px -240px;
  }

  .checkbox-div {
    margin-top: 10px;
    margin-left: 100px;
  }
