$icons: url('../../styles/form-elements-sprite.png');

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  display:inline-block;
  background-image: $icons;
  background-position: -578px -241px; 
  width: 175px;
  height: 169px;
  zoom: 0.3;
}

input[type=radio]:checked + label {
  background-position: -811px -241px; 
  width: 175px;
  height: 169px;
}
