#checkbox-button1{
  display: none;
}
#checkbox-button2 {
  display: none;
}

.check-box-container {
  height: 100px;
  margin-top: 250px;
  outline: solid black 1px;
  // position: relative;
  .label-checkbox {
      display: inline-block;
      width: 75px;
      height: 75px;
      border: 1px solid black;
      border-radius: 25px;
      
    }
  input[type='checkbox']:checked + label {
    background: url('../assets/form-elements-sprite.png') -382px -239px;
  }
  input[type='checkbox']:not(:checked) + label {
    background: url('../assets/form-elements-sprite.png') -159px -239px;
  
  }
}