.text-input {
  border: 1px solid black;
 
  width: 50%;
  position: relative;
  margin: 50px auto;
    #input-error{
      visibility: hidden;
    }
    label {
      display: block;
    }

}






.text-input-validating {
  border: 1px solid green;
  width: 50%;
  position: relative;
  margin: 50px auto;
  label{
    display: block;
  }
  #input-error {
    visibility: hidden;
  }
   #text-input-validated:invalid + #input-error {
        visibility: visible;
      
   }
  
}
